@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --formtext: #606068;
    --formheading: #282844;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #242424;
  font-weight: 600;
  font-family:  sans-serif;
}
h2 {
  color: var(--formtext);
  font-weight: 600;
  font-family:  sans-serif;
}

input {
  color: #282828;
  font-family: sans-serif;
}

input[type="text"]:focus {
  outline: none;        
  border-color: #D94141;
}